.results-area {
    text-align: center;
    font-size: 1.25rem;
}

.vanilla-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

#webcam-container,
canvas {
    border-radius: 30px;
}

.letter span {
    color: aquamarine;
}