@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  background-color: #252e3e;
  color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn {
  margin: 30px;
  width: 5rem;
  height: 2.5rem;
  border-radius: 6px;
  border: none;
  background-color: #386ae9;
  color: aliceblue;
  font-size: larger;
}

.btn.btn-primary {
  background-color: #386ae9;
}

.btn.btn-secondary {
  background-color: #e93838;
}

.btn.btn-easy {
  background-color: #64bb5c;
  width: 9rem;
}

.btn.btn-intermediate {
  background-color: #dbc33b;
  width: 9rem;
}

.btn.btn-advance {
  background-color: #e93838;
  width: 9rem;
}

.btn:hover {
  border: 1px solid;
  cursor: pointer;
}

.btn:hover.btn-primary {
  background-color: #386ae9de;
  border-color: #386ae9ea;
}

.btn:hover.btn-secondary {
  background-color: #e93838de;
  border-color: #e93838ea;
}

.btn:disabled,
.btn:disabled:hover {
  background-color: lightslategray;
  border-color: lightslategray;
  color: #252e3e;
  cursor: not-allowed;
}
